<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826191439264-i6qlu2kdll7g5jpsgqo84oovf641vca4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826191439264-i6qlu2kdll7g5jpsgqo84oovf641vca4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>826191439264-e3m0djbd6idrgt4d8gt57f9rcfcu26v3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBpyqYXJt03MenymmHcF_LQo-ehBLJjK5c</string>
	<key>GCM_SENDER_ID</key>
	<string>826191439264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aspiringengineer.timekeeper</string>
	<key>PROJECT_ID</key>
	<string>timekeeper1-9db8f</string>
	<key>STORAGE_BUCKET</key>
	<string>timekeeper1-9db8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826191439264:ios:d5ecd5d7afeef3eb4ef0c5</string>
</dict>
</plist>